body{
    background-color: slategray ;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    background-color: slateblue;
    border-bottom: 1px solid #133783;
    color: white;
}
.log2{
    
    margin-left: 0px;
}
h1{
    color: white;
}
.sp1{
    margin-top: 50px;
}
.sp2{
    margin-top: 50px;
}
.sp3{
    margin-top: 50px;
}
.rr{
    margin-top: 40px;
    font-weight: bold;
    font-size: 30px;
}
.form input[type="text"]{
    border-radius: 5px;
    width: 200px;
}
.form2 input[type="text"]{
    border-radius: 5px;
    border-radius: 5px;
    width: 400px;
}
.form3 input[type="text"]{
    border-radius: 5px;
    border-radius: 5px;
    width: 400px;
    border: 1 px solid #edf0f5;
}

.footer{
    height:200px;
    width: auto;
    background-color: white;
}